header {
    background-color: red;
    height: 10vh;
}

.login-page {
    height: 90vh;
    display: grid;
    grid-template-areas: "existing register";
    gap: 10em;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 5rem;
}

.existing {
    grid-area: 'existing';
}

.login {
    font-size: 2.5rem;
    padding: 0.5em;
    width: 30vw;
    border-radius: 25rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: red;
    border: 2px black solid;
    text-align: center;
    margin: 0 auto;
    color: white;
}

button:hover {
    cursor: pointer;
}


.newuser {
    height: 50vh;
    display: grid;
    place-content: center;
}

.register {
    display: grid;
    gap: 2em;
    grid-area: 'register';
    height: 30vh;
    justify-content: center;
    align-items: center;
}

input {
    width: 30vw;
    font-size: 2.5rem;
    padding: 0.5em 0.5em;
    border-radius: 25rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: red;
    border: 2px black solid;
    color: black;
}

input[type=email], input[type=password] {
    background-color: #fff;
}

input[type=submit] {
    color: white;
}

input[type=submit]:hover {
    background-color: rgb(175, 0, 0);
    cursor: pointer;
}