header {
    background-color: red;
    height: 10vh;
}

.login-page {
    height: 90vh;
    display: grid;
  /* grid-template-rows: 1fr;
  grid-template-columns: repeat(2, auto); */
  grid-template-areas: "existing register";
  /* display: flex; */
  gap: 10em;
  align-items: center;
  justify-content: center;
}

h3 {
    font-size: 5rem;
}

.existing {
    grid-area: 'existing';
}

.login {
    font-size: 2.5rem;
    padding: 0.5em;
    width: 30vw;
    border-radius: 25rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: red;
    border: 2px black solid;
    text-align: center;
    margin: 0 auto;
}




.newuser {
    max-width: 1000px;
}

.register {
    display: grid;
    gap: 2em;

    grid-area: 'register';
    height: 30vh;
}

input {
    width: 30vw;
}


input[type=email] {
    font-size: 2.5rem;
    padding: 0.5em;
    border-radius: 25rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: red;
    border: 2px black solid;
}

input[type=password] {
    font-size: 2.5rem;
    padding: 0.5em 0.5em;
    border-radius: 25rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: red;
    border: 2px black solid;
}

input[type=submit] {
    font-size: 2.5rem;
    padding: 0.5em 0.5em;
    border-radius: 25rem;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: red;
    border: 2px black solid;
}