
/*Defult settings*/
/*===============================*/


img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
html, body {
    height: 100%;
}
header {
    margin-bottom: 2rem;
}
main {
    max-width: 1000px;
    margin: auto;
}
footer {
    margin-top: 4rem;
    min-height: 60vh;
    background-color:  var(--red);
}
/*===============================*/