section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.doc-block-one {
    display: flex;
}
.doc-img-banner-bg  img {
    max-height: 300px;
}
.doc-menu-block {
    margin-top: 2rem;
    width: fit-content;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    gap: 0.5rem;
    background-color: #000;
    color: #fff;
}
.doc-menu-block-line {
    min-width: 1px;
    min-height: 100%;
    background-color: #fff;
}
.doc-menu-block-text {
    cursor: pointer;
}

/*=============*/
.doc-header-title {
    font-size: 3rem;
    padding-bottom: 1rem;
}
.doc-sub-header-title {
    font-size: 1.5rem;
    font-weight: 500;
}
.doc-sub-header-title:last-child {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    section {
        display: flex;
        flex-direction: column-reverse;

    }
    .doc-right-block {
        padding: 1rem;
    }

}