@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --red: #f00;
  --red-hover: #af0000;
  --white: #fff;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  font-size: 0.625rem;
}

body {
  font-size: 1.6rem;
}

header {
    background-color: var(--red);
    height: 10vh;
    max-width: 100%;
}

.logo-container {
    height: 10vh;
    aspect-ratio: 1/1;
    margin: 0 2.5em;
    padding: 0.5rem 0;
}

.logo {
    aspect-ratio: 1/1;
    width: 100%;
}
