header{
    height: 10vh;
    background-color: red;
}

header img{
    height: 10vh;
    margin: 0 2.5em;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.profilpic{
    border: 2.5px solid black;
}

.strength{
    margin-top: 1em;
}

.grid-template{
    display: grid;
    grid-template-columns: 1fr;
}

.udstyr{
display: flex;
align-items: center;
flex-direction: column;
}

.headline{
    border: 2.5px solid black;
    display: flex;
    justify-content: center;
    width: 80%;
}

.grid-area div{
   height: 300px;
   width: 300px;
    background-color: red;
    margin-top: 50px;
}