header {
    background-color: red;
    height: 10vh;
    max-width: 100%;
}

.logo-container {
    height: 10vh;
    aspect-ratio: 1/1;
    margin: 0 2.5em;
}

.logo {
    aspect-ratio: 1/1;
    width: 100%;
}

.medlem {
    display: grid;
    text-align: center;
    place-content: center;
    min-height: auto;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

.profil {
    border: 5px solid black;
    /* padding: 5em; */
    aspect-ratio: 1/1;
    display: block;
    position: relative;
}

.fa-user {
    /* font-size: 50rem; */
    font-size: clamp(25rem, 18.932rem + 25.89vw, 50rem);
    padding: 5rem 5rem 0 5rem;
    color: #c8c8c8;
}

.fa-pen {
    /* font-size: 3.5rem; */
    font-size: clamp(1.5rem, 1.0146rem + 2.0712vw, 3.5rem);
    margin: 0.25em;
    position: absolute;
    right: 0;  
    color: #686868;
    background-color: #c8c8c8bf;
    padding: 0.5em;
    max-width: 100px;
    border-radius: 25rem;
}



.navn-container {
    border: 5px solid black;
    border-top: none;
    padding: 1em;
}

.edit {
    padding: 0.5em;
    background-color: red;
    border-radius: 25rem;
    color: white;
    margin-top: 1em;
}

.medlem-info {
    margin-top: 2em;
}

.info {
    text-align-last: left;
}



.news-container {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    ". news .",
    "box box box";
}

.nyheder {
    border: 5px solid black;
    padding: 1em 5em;
    text-align: center;
    max-width: 27.5rem;
    margin: 0 auto;
}

.nyheder h3 {
    font-size: 1.5rem;
}

.box-container {
    display: grid;
    grid-template-areas: "box box box";
    gap: 2.5em;
    width: 50rem;
    place-content: center;
    margin-top: 2.5em;
}

.box {
    border: 5px solid black;
    width: 10em;
    height: 20rem;
}



@media screen and (min-width: 768px) {    
    .fa-pen:hover {
        filter: brightness(0.5);
        cursor: pointer;
    }
}